@model IEnumerable<WebApplication1.Models.Project>

<div class="m-2">
    <h4>Yeni Resim Yükle</h4>
    <hr />
    <div class="row">
        <div class="col-md">
            <form method="post" enctype="multipart/form-data" asp-controller="Uploader" asp-action="Yukleyici">
                <div class="form-group">
                    <label class="control-label" for="proje"></label>
                    Proje Adı
                    <select class="form-control" id="project" name="projectID" style="max-width:20em">
                        @foreach (var item in Model)
                        {
                            <option value="@item.ID" data-photocount="@item.photos.Count" >@item.name</option>
                        }
                    </select>
                </div>
                <span>Select File:</span>
                <input type="file" name="postedFiles" multiple accept="image/*" />
                <input type="submit" value="Upload" />
                <br />
            </form>
        </div>
    </div>
    <hr />
    <div id="fileListDiv"></div>
    <center>
        <div id="pager"></div>
    </center>
</div>

<script>
    var projectID = 0;
    var pageNo = 1;
    var pageSize = 50;

    $(document).ready(function () {
        ListFiles();
        let photocount = Number($("#project").find(":selected").data("photocount"));
        MakePageButtons(photocount);
    });

    $("#project").on("change", function () {
        ListFiles();
        let photocount = Number($("#project").find(":selected").data("photocount"));
        MakePageButtons(photocount);
    });

    function ListFiles() {
        projectID = Number($("#project").val());
        new OzAjax("/Uploader/ListFilesOfProject", GET, { projectID: projectID, pageNo: pageNo, pageSize: pageSize }, Successful).Send();
        function Successful(data) {
            $("#fileListDiv").html(data);
        }
    }


    function MakePageButtons(photocount) {
        let pageCount = Math.floor(photocount / pageSize);
        console.log(pageCount);
        for (var i = 1; i < pageCount + 2; i++) {
            let button = $("<button>");
            button.addClass("pageBtn");
            button.data("pageno", i);
            button.click(GoToPage);
            button.html(i);

            $("#pager").append(button.clone(true));
        }
    }

    function GoToPage() {
        pageNo = Number($(this).data("pageno"));
        ListFiles();
    }

    
</script>

