@model IEnumerable<WebApplication1.Models.Project>

<div class="m-2">
    <h4>Yeni Resim Yükle</h4>
    <hr />
    <div class="row">
        <div class="col-md">
            <form method="post" enctype="multipart/form-data" asp-controller="Uploader" asp-action="Yukleyici">
                <div class="form-group">
                    <label class="control-label" for="proje"></label>
                    Proje Adı
                    <select class="form-control" id="project" name="projectID" style="max-width:20em">
                        @foreach (var item in Model)
                        {
                            <option value="@item.ID">@item.name</option>
                        }
                    </select>
                </div>
                <span>Select File:</span>
                <input type="file" name="postedFiles" multiple accept="image/*" />
                <input type="submit" value="Upload" />
                <br />
            </form>
        </div>
    </div>
    <hr />
    <div id="fileListDiv"></div>
</div>

<script>
    var projectID = 0;

    $(document).ready(function () {
        ListFiles();
    });

    $("#project").on("change", function () {
        ListFiles();
    });

    function ListFiles() {
        projectID = Number($("#project").val());
        new OzAjax("/Uploader/ListFilesOfProject", GET, { projectID: projectID }, Successful).Send();
        function Successful(data) {
            $("#fileListDiv").html(data);
        }
    }

    
</script>

