@model IEnumerable<WebApplication1.Models.Project>

<style>
    .pageBtn{
        margin-right:0.5em;
        border-radius:5px;
    }
    .pageBtnActive{
        background-color:gray;
    }
</style>

<div class="m-2">
    
    <hr />
    <div style="display:inline-flex ">
        <b>Images of Project</b>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <form id="uploadForm">
            <label for="projectID">
                <select id="projectID" name="projectID" style="max-width:20em" onchange="ListFiles()">
                    @foreach (var item in Model)
                    {
                        <option value="@item.ID" data-photocount="@item.photos.Count" data-sizeinmb="@item.photos.Sum(u=>u.sizeMB).ToString("0.00")">@item.name</option>
                    }
                </select>
            </label>

            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="file" id="files" name="files" multiple accept="image/*" />
        </form>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="submitBtn" class="btn btn-sm btn-secondary" disabled onclick="Upload()">Upload</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div style="min-width:200px; max-height:1em; display:none" id="progressBarContainer">
            <div class="progress" style="border:1px solid blue">
                <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width:1%"></div>
            </div>
            <span id="progressBarInfo" style="color:rgb(0 103 170)">
                Yükleniyor %45
            </span>
        </div>

    </div>
    <hr />
    <div>
        <span id="projectInfoDiv"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span id="pager"></span>
    </div>
    <div id="fileListDiv"></div>

</div>

<script>
    var projectID = 0;
    var pageNo = 1;
    var pageSize = 30;

    $(document).ready(function () {
        if ($("#projectID").html().trim() == "") {
            OzModal.Info("Proje Yok", "Lütfen bir proje oluşturunuz.", 3000);
            return;
        }
        ListFiles();
    });

    function ListFiles() {
        projectID = Number($("#projectID").val());

        if (projectID != 0)
            SubmitBtnEnabled();

        new OzAjax("/Uploader/ListFilesOfProject", GET, { projectID: projectID, pageNo: pageNo, pageSize: pageSize }, Successful).Send();
        function Successful(data) {

            $("#fileListDiv").html(data);

            let photocount = Number($("#projectID").find(":selected").data("photocount"));
            MakePageButtons(photocount);

            ShowProjectInfo();
        }
    }
    
    function MakePageButtons(photocount) {

        let pageCount = Math.ceil(photocount / pageSize);

        if (pageCount == 1)
            return;

        let buttons = [];
        for (var i = 0; i < pageCount; i++) {
            let button = $("<button>");
            button.addClass("pageBtn");
            button.data("pageno", i+1);
            button.click(GoToPage);
            button.html(i + 1);
            if (i == pageNo - 1)
                button.addClass("pageBtnActive")
            buttons.push(button.clone(true));
        }
        $("#pager").html(buttons);
    }

    function GoToPage() {
        pageNo = Number($(this).data("pageno"));
        ListFiles();
    }

    function ShowProjectInfo() {
        let pinfo = "Showing ";
        pinfo += pageSize;
        pinfo += " of Total ";
        pinfo += $("#projectID").find(":selected").data("photocount");
        pinfo += " images. - ";
        pinfo += " Total Size is ";
        pinfo += $("#projectID").find(":selected").data("sizeinmb");
        pinfo += " MB ";
        $("#projectInfoDiv").html(pinfo);
    }

    function Upload() {

        SubmitBtnDisabled();

        let formData = new FormData(document.getElementById("uploadForm"));

        new OzAjax("/Uploader/Yukleyici", POST, formData, SendSuccess, SendError, ShowProcess).MultiSend();
        function SendSuccess(data) {
            SubmitBtnEnabled();

            data = JSON.parse(data);
            if (data == "ok") {
                FinishProgressBar();
                ListFiles();
            }
            else {
                OzModal.Show("Hata", data);
                HideProgressBar();
            }
            
        }
        function SendError(err) {
            HideProgressBar();
            OzModal.Show("Hata", err.status);
        }
        function ShowProcess(percent) {
            ShowProgressBar(percent);
        }
    }

    
    function SubmitBtnDisabled() {
        $("#submitBtn").attr("disabled", "disabled");
    }
    function SubmitBtnEnabled() {
        $("#submitBtn").removeAttr("disabled");
    }

    let progressBarContainer = $("#progressBarContainer");
    let progressBarInfo = $("#progressBarInfo");
    let progressBar = $("#progressBar");


    function ShowProgressBar(percent) {
        progressBarContainer.show();
        progressBar.css({ "width":percent + "%"})
        progressBarInfo.html("Yükleniyor " + percent + " %");
    }
    function FinishProgressBar() {
        progressBar.css({ "width": "100%" })
        progressBarInfo.html("Tamamlandı.");
        setTimeout(HideProgressBar, 2000);
    }

    function HideProgressBar() {
        progressBarInfo.html("0 %");
        progressBar.css({ "width": "0%" })
        progressBarContainer.hide();
    }

</script>

