
@{ 
    List<string> errorList = ViewBag.errorList;
}
<div>
    Dosya yükleme işlemi @errorList.Count hata ile tamamlandı.
    <ul>
        @foreach (var item in errorList)
        {
            <li>@item</li>
        }
    </ul>
</div>
<p>
    <a asp-action="Index" asp-controller="Home">Ana sayfaya dön</a>
</p>