/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body, html {
    height: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

.blackBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(50,50,50);
    z-index: 2;
}

.navigationPanel {
    position: fixed;
    top: 28px;
    width: 100%;
    padding: 5px;
    border-bottom: dotted 1px gray;
    background-color: whitesmoke;
    z-index: 3;
}

.btnNavi {
    border-radius: 3px 4px;
}

.naviScreen {
    cursor: pointer;
}

.naviScreenContainer {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.naviInput {
    position: absolute;
    width: 40px;
    border-radius: 5px;
    z-index: 3;
}

.spnShape {
    background-color: white;
    cursor: pointer;
    padding: 4px;
    height: 28px;
}

    .spnShape:hover {
        background-color: rgb(180,180,180);
    }

.spnShapeSelected {
    background-color: rgb(180,180,180);
}

.selectedSVG {
    background-color: rgb(180,180,180);
}

.sizeBtn {
    border: none;
    padding-right: 4px;
    padding-left: 4px;
    cursor: pointer;
}

.sizeBtnBorder {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.mainDiv {
    position: absolute;
    top: 84px;
    bottom: 0;
    border-right: solid gray 1px;
    background-color: yellow;
}

.annoListDiv {
    position: fixed;
    width: 120px;
    border-right: solid gray 1px;
    text-align: center;
}

.annoBtn {
    width: 80%;
    border: solid 1px;
    border-radius: 5px;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.canvasDiv {
    position: absolute;
    top: 0px;
    left: 120px;
    min-height: 200vh;
}

#canvas {
    position: absolute;
    top: 5px;
    left: 5px;
}

#manvas {
    position: absolute;
    top: 5px;
    left: 5px;
}

#circlePoints {
    width: 3em;
}


