<style>
    .navigationPanel {
        padding: 5px;
        border-bottom: dotted 1px gray;
        width: 100%;
    }

    .btnNavi {
        border-radius: 3px 4px;
    }

    .naviScreen {
        cursor: pointer;
    }

    .naviScreenContainer {
        display: inline-block;
        width: 40px;
        text-align: center;
    }

    .naviInput {
        position: absolute;
        width: 40px;
        border-radius: 5px;
        z-index: 3;
    }

    .spnShape {
        background-color:white;
        cursor: pointer;
        padding:4px;
        height: 28px;
    }

        .spnShape:hover {
            background-color: rgb(180,180,180);
        }

    .spnShapeSelected {
        background-color: rgb(180,180,180);
    }

    .selectedSVG {
        background-color: rgb(180,180,180);
    }

    .sizeBtn {
        border: none;
        padding-right: 4px;
        padding-left: 4px;
        cursor: pointer;
    }

    .sizeBtnBorder {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .mainDiv {
        position: absolute;
        top: 84px;
        bottom: 0;
        border-right: solid gray 1px;
        background-color: yellow;
    }

    .annoListDiv {
        position: absolute;
        width: 120px;
        top: 0;
        
        border-right: solid gray 1px;
        text-align: center;
    }

    .annoBtn {
        width: 80%;
        border: solid 1px;
        border-radius: 5px;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }

    .canvasDiv {
        position: absolute;
        top: 0px;
        left: 120px;
        min-height:200vh;
    }
    #canvas {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    #manvas {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    #circlePoints{
        width:3em;
    }
</style>

<input type="hidden" id="projectID" value="@ViewBag.projectID" />
<div class="navigationPanel" id="navigationPanel">
    <select class="form-select-sm" id="project" onchange="ChangeProject()">
        <option style="color:gray; font-style:italic">Proje Seçiniz...</option>
    </select>
    <button class="btnNavi" onclick="ClickNavigate(false)"><</button>
    <span class="naviScreenContainer" id="naviScreenContainer">
        <span id="naviScreen" class="naviScreen" onclick="ShowNaviInput()">
            0/0
        </span>
    </span>
    <button class="btnNavi" onclick="ClickNavigate(true)">></button>
    <select id="seen" class="form-control-sm" onchange="ChangeSeen()">
        <option value="1">Undone</option>
        <option value="2">Done</option>
        <option value="3">All</option>
    </select>
    <button class="btn btn-sm btn-outline-danger" onclick="DeletePhoto()">Delete</button>
    <button class="btn btn-outline-success" id="completedBtn" onclick="Completed()">Save</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <svg class="spnShape" onclick="ClickShape(this)" data-shape="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g><g><rect width="260" height="260" rx="0" ry="0" transform="translate(20 20)" fill="none" stroke="#000" stroke-width="20" /></g></g><line x1="-85.645965" y1="-87.184516" x2="94.354035" y2="92.815484" transform="translate(145.645965 147.184516)" fill="none" stroke="#000" stroke-width="15" /><line x1="90" y1="-90" x2="-90" y2="90" transform="translate(150 150)" fill="none" stroke="#000" stroke-width="15" /><line x1="31.304537" y1="-0.147323" x2="-28.695463" y2="-0.147323" transform="translate(208.695463 60.147323)" fill="none" stroke="#000" stroke-width="15" /><line x1="31.304537" y1="-0.147323" x2="-28.695463" y2="-0.147323" transform="translate(208.695463 240.147323)" fill="none" stroke="#000" stroke-width="15" /><line x1="31.304537" y1="-0.147323" x2="-28.695463" y2="-0.147323" transform="translate(88.695463 240.147323)" fill="none" stroke="#000" stroke-width="15" /><line x1="31.304537" y1="-0.147323" x2="-28.695463" y2="-0.147323" transform="translate(88.695463 60.147324)" fill="none" stroke="#000" stroke-width="15" /><line x1="0" y1="-26.520881" x2="0" y2="33.479119" transform="translate(240 86.520882)" fill="none" stroke="#000" stroke-width="15" /><line x1="0" y1="-26.520881" x2="0" y2="33.479119" transform="translate(240 206.520881)" fill="none" stroke="#000" stroke-width="15" /><line x1="0" y1="-26.520881" x2="0" y2="33.479119" transform="translate(60 206.520881)" fill="none" stroke="#000" stroke-width="15" /><line x1="0" y1="-26.520881" x2="0" y2="33.479119" transform="translate(60 86.520882)" fill="none" stroke="#000" stroke-width="15" /></svg>
    <svg class="spnShape" onclick="ClickShape(this)" data-shape="1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><rect width="260" height="140" rx="0" ry="0" transform="translate(20 80)" fill="none" stroke="#000" stroke-width="20" /><line x1="-0.514265" y1="-46.283837" x2="-0.514265" y2="53.716163" transform="translate(150.514265 146.283837)" fill="none" stroke="#000" stroke-width="15" /><line x1="-99.767382" y1="0" x2="100.232618" y2="0" transform="translate(149.767382 150)" fill="none" stroke="#000" stroke-width="15" /><line x1="9.946349" y1="13.530916" x2="-20.053651" y2="-16.469084" transform="translate(240.053651 136.469084)" fill="none" stroke="#000" stroke-width="15" /><line x1="9.946349" y1="13.530916" x2="-20.053651" y2="-16.469084" transform="translate(140.053651 186.469084)" fill="none" stroke="#000" stroke-width="15" /><line x1="9.946349" y1="13.530916" x2="-20.053651" y2="-16.469084" transform="translate(170.053651 116.469084)" fill="none" stroke="#000" stroke-width="15" /><line x1="9.946349" y1="13.530916" x2="-20.053651" y2="-16.469084" transform="translate(70.053651 166.469084)" fill="none" stroke="#000" stroke-width="15" /><line x1="5" y1="-15.929602" x2="-25" y2="14.070398" transform="translate(245 165.929602)" fill="none" stroke="#000" stroke-width="15" /><line x1="5" y1="-15.929602" x2="-25" y2="14.070398" transform="translate(175 185.929602)" fill="none" stroke="#000" stroke-width="15" /><line x1="5" y1="-15.929602" x2="-25" y2="14.070398" transform="translate(145 115.929602)" fill="none" stroke="#000" stroke-width="15" /><line x1="5" y1="-15.929602" x2="-25" y2="14.070398" transform="translate(75 135.929602)" fill="none" stroke="#000" stroke-width="15" /></svg>
    <svg class="spnShape" onclick="ClickShape(this)" data-shape="2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><ellipse rx="130" ry="130" transform="translate(150 150)" fill="none" stroke="#000" stroke-width="20" /><ellipse rx="25" ry="25" transform="translate(150 150)" stroke-width="0" /></svg>
    <svg class="spnShape" onclick="ClickShape(this)" data-shape="3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><ellipse rx="17.5" ry="17.5" transform="translate(77.454751 54.977376)" stroke-width="0" /><ellipse rx="17.5" ry="17.5" transform="translate(185 54.977376)" stroke-width="0" /><ellipse rx="17.5" ry="17.5" transform="translate(53.61991 256.787331)" stroke-width="0" /><ellipse rx="17.5" ry="17.5" transform="translate(150 171.414028)" stroke-width="0" /><ellipse rx="17.5" ry="17.5" transform="translate(231.900452 256.787331)" stroke-width="0" /><ellipse rx="17.5" ry="17.5" transform="translate(249.400452 171.414028)" stroke-width="0" /><line x1="11.917421" y1="-100.904977" x2="-11.91742" y2="100.904978" transform="translate(65.53733 155.882354)" fill="none" stroke="#000" stroke-width="15" /><line x1="-89.140271" y1="0" x2="89.140271" y2="0" transform="translate(142.760181 256.787331)" fill="none" stroke="#000" stroke-width="15" /><line x1="-8.75" y1="42.686651" x2="8.75" y2="-42.686652" transform="translate(240.650452 214.10068)" fill="none" stroke="#000" stroke-width="15" /><line x1="49.700226" y1="0" x2="-49.700226" y2="0" transform="translate(199.700226 171.414028)" fill="none" stroke="#000" stroke-width="15" /><line x1="-17.5" y1="58.218326" x2="17.5" y2="-58.218326" transform="translate(167.5 113.195703)" fill="none" stroke="#000" stroke-width="15" /><line x1="53.772625" y1="0" x2="-53.772624" y2="0" transform="translate(131.227376 54.977377)" fill="none" stroke="#000" stroke-width="15" /></svg>
    <button class="btn btn-sm btn-outline-danger" onclick="ClearAllLabels()">Reset</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="sizeBtnBorder">
        <button class="sizeBtn" onclick="ChangeCSize(false)">-</button>
        <span id="csize" style="background-color:rgb(220,220,220)"></span>
        <button class="sizeBtn" onclick="ChangeCSize(true)">+</button>
    </span>
    <svg height="24" id="crossHair" onclick="ClickCrossHair()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g transform="matrix(.857188-.515003 0.515003 0.857188-4.125733 116.843123)"><polygon points="14.019238,-30 54.019238,70 -25.980762,70 14.019238,-30" transform="translate(99.855919 99.576665)" stroke-width="0" /><line x1="0" y1="-66.478034" x2="0" y2="66.478034" transform="translate(113.875157 181.084515)" fill="none" stroke="#000" stroke-width="20" /></g><line x1="0" y1="-75.149082" x2="0" y2="75.149082" transform="matrix(-1 0 0 1.015385 125.8505 220.15633)" fill="none" stroke="#000" stroke-width="10" /><line x1="0" y1="33.528052" x2="0" y2="-33.528052" transform="matrix(-1 0 0 1.343296 125.8505 55.694687)" fill="none" stroke="#000" stroke-width="10" /><line x1="-70.210921" y1="0" x2="70.21092" y2="0" transform="translate(219.251914 113.598181)" fill="none" stroke="#000" stroke-width="10" /><line x1="53.182427" y1="0" x2="-53.182427" y2="0" transform="translate(59.391029 113.598181)" fill="none" stroke="#000" stroke-width="10" /></svg>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label>
        <input type="number" min="4" max="64" id="circlePoints" value="24" onchange="ChangeCirclePoint()" />
    </label>
</div>

<div class="mainDiv">
    <div class="annoListDiv">
        <u>Classes</u>
        <div id="annoListDiv"></div>
    </div>
    <div class="canvasDiv">
        <canvas id="canvas"></canvas>
        <canvas id="manvas"></canvas>
    </div>
</div>


<script>

    // #region Classes
    class Preferences {
        seen = 3;
        shape = 0;
        csize = 1000;
        selectedAnno = -1;
        crossHair = true;
        circlePoints = 24;
    }
    class NavigateViewModel {
        projectID;
        photoID;
        photoNo;
        seen;
        filesCount;
        path;
        orjname;
        labels;
        error;
    }
    class Label {
        photoID;
        annoID;
        points = [];
    }
    class Point {
        constructor(x, y) {
            this.x = x;
            this.y = y;
        }
    }
    class Rectangle {
        #width;
        #height;
        constructor(beginX, beginY, endX, endY, isSquare) {
            let ifX = beginX < endX;
            let ifY = beginY < endY;
            this.beginX = ifX ? beginX : endX;
            this.endX = ifX ? endX : beginX;
            this.beginY = ifY ? beginY : endY;
            this.endY = ifY ? endY : beginY;
            this.#width = this.endX - this.beginX;
            this.#height = this.endY - this.beginY;
            this.isSquare = isSquare;

            if (isSquare) {
                if (this.#width > this.#height) {
                    this.endX = beginX + this.#height;
                    this.#width = this.endX - this.beginX;
                }
                else {
                    this.endY = beginY + this.#width;
                    this.#height = this.endY - this.beginY;
                }
            }
        }
        getWidth = () => this.#width;
        getHeight = () => this.#height;

    }
    Rectangle.prototype.GetPoints = function () {
        let plist = [];
        plist.push(new Point(this.beginX, this.beginY));
        plist.push(new Point(this.endX, this.beginY));
        plist.push(new Point(this.endX, this.endY));
        plist.push(new Point(this.beginX, this.endY));
        return plist;
    }

    class Circle{
        constructor(centerX, centerY) {
            this.centerX = centerX;
            this.centerY = centerY;
            this.moveX = centerX;
            this.moveY = centerY;
            this.radius = Math.sqrt((this.moveX - this.centerX) ** 2 + (this.moveY - this.centerY) ** 2);
            if (this.radius <= 0) this.radius = 1;            
        }
    }
    Circle.prototype.Move = function (mouseX, mouseY) {
        this.moveX = mouseX;
        this.moveY = mouseY;
        this.radius = Math.sqrt((this.moveX - this.centerX) ** 2 + (this.moveY - this.centerY) ** 2);
    }
    Circle.prototype.GetPoints = function () {
        let circlePoints = Number( $("#circlePoints").val());
        circlePoints = circlePoints.clamp(4, 64);
        let plist = [];
        let radyan = (Math.PI * 2) / circlePoints;
        for (var i = 0; i < circlePoints; i++) {
            plist.push(new Point(this.centerX + this.radius * Math.sin(i * radyan), this.centerY + this.radius * Math.cos(i * radyan)));
        }
        return plist;
    }

    class Polygon {
        constructor() {
            this.points = [];
        }
    }
    Polygon.prototype.AddPoint = function () {
        this.points.push(new Point(mouse.x, mouse.y));
    }
    Polygon.prototype.GetPoints = function () {
        return this.points;
    }
    Polygon.prototype.MoveLast = function () {
        this.points[this.points.length - 1] = new Point(mouse.x, mouse.y);
    }
    Polygon.prototype.DeleteLastPoint = function () {
        this.points.pop();
        if (this.points.length == 1)
            this.points = [];
    }
    Polygon.prototype.IsHome = function () {
        if (this.points.length < 3)
            return false;
        if (Math.hypot(this.points[0].x - mouse.x, this.points[0].y - mouse.y) < 10)
            return true;
        return false;
    }


    var preferences = new Preferences();
    var navi = new NavigateViewModel();
    var labelList = [];
    var currentLabel = new Label();
    const mouse = new Point();
    var rect = new Rectangle();
    var circle = new Circle();
    var polygon = new Polygon();
    // #endregion

    var projectList = [];
    var annoList = [];
    var colorList = [];

    const canvas = document.getElementById("canvas");    
    const ctx = canvas.getContext("2d");
    const manvas = document.getElementById("manvas");
    const mtx = manvas.getContext("2d");
    var image = new Image();
    var selectedLabel = -1;    
    var loading = false;

    $(document).ready(function () {
        InitPreferences();
        UpdatePreferences();
        InitNavigation();
        StartAjaxChain();
    });
    
    // #region Init&Update Preferences
    function InitPreferences() {
        let p = OzGetCookie("preferences");
        if (p == "") SavePreferences();
        else preferences = JSON.parse(p);
        preferences.selectedAnno = -1;
        canvas.width = canvas.height = 500;
    }

    function SavePreferences() {
        OzSetCookie("preferences", JSON.stringify(preferences));
    }

    function UpdatePreferences() {
        UpdateSeen();
        UpdateShape();
        UpdateCSize();
        UpdateCrossHair();
        UpdateCirclePoint();
    }

    function UpdateSeen() {
        let seen = Number(preferences.seen);
        $("#seen").val(seen);
    }

    function UpdateShape() {
        let shape = preferences.shape;
        $(".spnShape").removeClass("spnShapeSelected");
        $("*[data-shape=" + shape + "]").addClass("spnShapeSelected");
    }

    function UpdateCSize() {
        let csize = preferences.csize;
        $("#csize").html(csize + "px");
    }
    function UpdateCrossHair() {
        if (preferences.crossHair)
            $("#crossHair").addClass("selectedSVG");
        else
            $("#crossHair").removeClass("selectedSVG");
    }

    function UpdateCirclePoint() {
        $("#circlePoints").val(preferences.circlePoints);
    }

    function Error(err) {
        ClearCanvas();
        ctx.font = "24px Comic Sans MS";
        ctx.fillStyle = "red";
        //ctx.textAlign = "center";
        //ctx.fillText(err, canvas.width / 2, canvas.height / 2);
        ctx.fillText(err, 60, 60);
        ClearManvas();
    }

    function ClearCanvas() {
        ctx.beginPath();
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    }

    function Loading() {
        ClearManvas();        
        loading = true;
        timer = setTimeout(LoadingAnimation, 200);
    }
    function Loaded() {
        loading == false;
        clearTimeout(timer);
    }

    var loadingIndex = 5;
    var timer;
    function LoadingAnimation() {
        if (!loading)
            return;

        ClearCanvas();
        function increaseGA() {
            loadingIndex++;
            if (loadingIndex == 20)
                loadingIndex = 5;
        }
        increaseGA();

        ctx.strokeStyle = "#111111";

        ctx.globalAlpha = loadingIndex / 20;
        ctx.font = "24px Comic Sans MS";
        ctx.fillStyle = "black";
        ctx.textAlign = "center";
        ctx.fillText("Loading", manvas.width / 2, 200);

        timer = setTimeout(LoadingAnimation, 50);
        

    }

    // #endregion

    // #region onClick & onChange
    function ChangeProject() {
        let project = Number($("#project").val());
        navi.projectID = project;
        if (navi.projectID != 0)
            Error("");
        StartAjaxChain();
    }

    function ClickNavigate(increase) {
        if (increase) {
            if (navi.photoNo < navi.filesCount) {
                navi.photoNo++;
                GetImage();
            }
        }
        else {
            if (navi.photoNo > 1) {
                navi.photoNo--;
                GetImage();
            }
        }
    }

    function ChangeSeen() {
        let seen = Number($("#seen").val());
        preferences.seen = seen;
        SavePreferences();
        navi.seen = seen;
        navi.photoNo = 1;
        GetImage();
    }

    function DeletePhoto() {
        var questionDiv = $("<h6>").html("Veritabanından kaldırın veya tamamen silin.</br>Şu resim:</br>" + navi.orjname);
        var answer1Btn = $("<button>")
            .addClass("btn btn-warning")
            .css({ "margin-right": "10px"})
            .html("Kaldır")
            .click(function () {
                DeletePhotoConfirmed(false);
            });
        var answer2Btn = $("<button>")
            .addClass("btn btn-danger")
            .css({ "margin-right": "10px"})
            .html("Tamamen SİL!")
            .click(function () {
            DeletePhotoConfirmed(true);
        });
        var answer3Btn = $("<button>").addClass("btn btn-secondary").html("İptal").click(OzModal.Close);
        var buttonsPanel = $("<div>");
        var confirmerBody = $("<div>");

        confirmerBody.append(questionDiv);
        buttonsPanel.append(answer1Btn);
        buttonsPanel.append(answer2Btn);
        buttonsPanel.append(answer3Btn);
        confirmerBody.append(buttonsPanel);
        OzModal.Show("Resim Silme", confirmerBody);
    }

    function DeletePhotoConfirmed(hardRemove=false) {
        
        new OzAjax("/Uploader/RemovePhotoFromDB", GET, { id: navi.photoID, hardRemove: hardRemove }, DeleteSuccess).Send();
        function DeleteSuccess(data) {
            OzModal.Info("", data, 2000);
            GetImage();
        }
    }

    function Completed() {
        AddLabelsToNavi();
        new OzAjax("/Home/SetImage", POST, { _navi: JSON.stringify(navi) }, CompletedSuccess).Send();
        function CompletedSuccess(data) {
            data = JSON.parse(data);
            if (data == "ok") {
                let oldHtml = $("#completedBtn").html();
                $("#completedBtn").html("Kaydedildi.")
                setTimeout(function () { $("#completedBtn").html(oldHtml) }, 1000);
            }
            else {
                Error(data);
            }
        }
    }

    function ClickShape(dom) {
        let shape = Number($(dom).data("shape"));
        preferences.shape = shape;
        SavePreferences();
        UpdateShape();
    }

    function ChangeCSize(increase) {
        let oldSizeFactor = image.width / preferences.csize;

        if (increase) {
            preferences.csize += 50;
        }
        else {
            preferences.csize -= 50;
            if (preferences.csize <= 0)
                preferences.csize = 50;
        }

        SavePreferences();
        UpdateCSize();
        UpdateCanvas();

        let sizeFactor = image.width / preferences.csize;
        let alpha = oldSizeFactor / sizeFactor;

        ResizeLabelList(alpha);
        UpdateManvas();
    }

    function ClickCrossHair() {
        preferences.crossHair = !preferences.crossHair;
        UpdateCrossHair();
        SavePreferences();
    }

    function ChangeCirclePoint() {
        preferences.circlePoints = Number($("#circlePoints").val());
        SavePreferences();
    }

    function AddLabelsToNavi() {
        let labels = [];
        let sizeFactor = image.width / preferences.csize;
        for (var j = 0; j < labelList.length; j++) {
            let label = new Label();
            label.annoID = labelList[j].annoID;
            label.photoID = navi.photoID;

            for (var i = 0; i < labelList[j].points.length; i++) {
                let p = labelList[j].points[i];
                let new_p = new Point();
                new_p.x = p.x * sizeFactor;
                new_p.y = p.y * sizeFactor;
                label.points.push(new_p);
            }
            labels.push(label);
        }
        navi.labels = JSON.stringify(labels);
    }
    // #endregion

    // #region Navigation
    function InitNavigation() {
        navi.projectID = Number($("#projectID").val());
        if (navi.projectID == 0) {
            Error("Bir proje seçiniz.");
        }
        navi.seen = preferences.seen;
    }
    function ShowNaviInput() {
        if (navi.filesCount < 1)
            return;
        let p = $("#naviScreenContainer").position();
        let input = $("<input>");
        input.addClass("naviInput");
        input.attr("id", "naviInput");
        $("body").append(input);
        input.css({ "position": "absolute", "top": p.top + "px", "left": p.left + "px" });
        input.focus();
        input.keyup(function (e) {
            if (e.keyCode == 13) {
                NaviGoTo(Number($(this).val()));
            }
        });
    }
    function NaviGoTo(value) {
        navi.photoNo = value;
        navi.photoNo = Number(navi.photoNo).clamp(1, navi.filesCount);
        GetImage();
        $("#naviInput").remove();
    }
    // #endregion

    // #region Ajax Chain
    function StartAjaxChain() {
        GetProjectList(); // =>
    }

    function GetProjectList() {
        new OzAjax("/Home/GetProjectList", GET, { projectID: navi.projectID }, ProjectListSuccess).Send();
        function ProjectListSuccess(data) {
            projectList = JSON.parse(data);
            UpdateProjects(); //=>
        }
    }
    function UpdateProjects() {

        let project = $("#project");
        let firstChild = $("#project").children().first();
        project.html(firstChild);

        for (var i = 0; i < projectList.length; i++) {
            let option = new Option(projectList[i].name, projectList[i].id);

            let optionIsSelected = navi.projectID == projectList[i].id;
            option.selected = optionIsSelected;

            if (optionIsSelected) {
                annoList = projectList[i].annoList;
                PlaceAnnoList(); // =>
                GetImage(); // =>
            }

            project.append(option);
        }
    }
    function PlaceAnnoList() {
        let annoListDiv = $("#annoListDiv");
        annoListDiv.html("");
        for (var i = 0; i < annoList.length; i++) {
            let btn = $("<button>");
            btn.html(annoList[i].name);
            btn.addClass("annoBtn");
            btn.data("annoid", i);
            btn.data("color", annoList[i].color);
            btn.data("textcolor", annoList[i].textColor);
            colorList.push(annoList[i].color);
            btn.click(SelectAnno);

            annoListDiv.append(btn);
        }
        PaintAnnoBtns(); // =>
    }

    function SelectAnno() {
        preferences.selectedAnno = Number($(this).data("annoid"));
        SavePreferences();
        PaintAnnoBtns();

        if (selectedLabel != -1) {
            labelList[selectedLabel].annoID = preferences.selectedAnno;
            UpdateManvas();
        }
    }

    function PaintAnnoBtns() {
        $(".annoBtn").each(function (i, e) {
            if (i == preferences.selectedAnno) {
                let color = $(e).data("color");
                let textColor = $(e).data("textcolor");
                $(e).css({
                    "color": textColor,
                    "background-color": color,
                });
            }
            else {
                let color = $(e).data("color");
                $(e).css({
                    "color": color,
                    "background-color": "white"
                });
            }
        });
    }

    function GetImage() {
        Loading();
        new OzAjax("/Home/GetImage", POST, { _navi: JSON.stringify(navi) }, Success, Failure).Send();
        function Success(data) {
            Loaded();
            navi = JSON.parse(JSON.parse(data));
            if (navi.error != "") {
                Error(navi.error);
            }
            else {
                Error("");
            }
            UpdateNaviScreen();
            DrawCanvas(); // =>
        }
        function Failure(fail) {
            Error(fail);
        }
    }

    function UpdateNaviScreen() {
        let photoNo = navi.photoNo;
        let filesCount = navi.filesCount;
        $("#naviScreen").html(photoNo + "/" + filesCount);
    }
    function DrawCanvas() {
        if (navi.path == "")
            return;
        image.src = navi.path;
        image.addEventListener("load", OnCanvasLoaded);
        image.addEventListener("error", Error);
    }
    function OnCanvasLoaded() {
        UpdateCanvas();
        selectedLabel = -1;
        ClearCurrentLabel();
        FillLabelList();
    }

    function UpdateCanvas() {
        if (image.width > 0) {
            //loaded();
            let oran = image.width / image.height;
            canvas.width = preferences.csize;
            canvas.height = canvas.width / oran;
            ctx.drawImage(image, 0, 0, image.width, image.height, 0, 0, canvas.width, canvas.height);

            manvas.width = canvas.width;
            manvas.height = canvas.height;
        }
    }

    function FillLabelList() {
        let naviLabels = JSON.parse(navi.labels);
        labelList = [];
        for (var i = 0; i < naviLabels.length; i++) {
            let label = new Label();
            label.photoID = naviLabels[i].photoID;
            label.annoID = naviLabels[i].annoID;
            label.points = naviLabels[i].points;
            labelList.push(label);
        }
        let sizeFactor = image.width / preferences.csize;
        ResizeLabelList(1 / sizeFactor);
        
        UpdateManvas();
    }

    
    // #endregion

    // #region MANVAS
    var mouseEntered = false;
    var drawing = false;
    var pulling = false;
    
    //// TRIGERS ////
    manvas.addEventListener("contextmenu", function (e) {
        e.preventDefault();
    });

    document.addEventListener("keyup", function (e) {
        switch (e.keyCode) {
            case 46:
                if (selectedLabel != -1) {
                    labelList.splice(selectedLabel, 1);
                    selectedLabel = -1;
                    UpdateManvas();
                }
                break;
            case 27:
                polygon = new Polygon();
                UpdateManvas();
                break;

        }
    });


    manvas.addEventListener("mouseenter", function (e) {
        mouseEntered = true;
    });

    manvas.addEventListener("mouseleave", function (e) {
        mouseEntered = false;
        UpdateManvas();
    });

    
    manvas.addEventListener("mousedown", function (e) {
        mouse.x = e.offsetX;
        mouse.y = e.offsetY;

        switch (e.button) {
            case 0:

                if (preferences.selectedAnno == -1) {
                    alert("Sınıf seçiniz!");
                    return;
                }

                selectedLabel = -1;
                drawing = false;

                switch (preferences.shape) {
                    case 0:
                    case 1:
                    case 2:
                        drawing = true;
                        InitCurrentLabel();
                        break;
                    case 3:
                        if (polygon.points.length == 0) {
                            polygon = new Polygon();
                            polygon.AddPoint();
                        }
                        polygon.AddPoint();
                        if (polygon.IsHome())
                            FinishPolyAddToList();
                        break;
                }
                break;
            case 1:
                break;
            case 2:
                if (polygon.points.length > 0) {
                    polygon.DeleteLastPoint();
                    polygon.MoveLast();
                    UpdateManvas();
                    return;
                }
                else {
                    SelectLabel();
                    pulling = selectedLabel != -1;
                }
        }
        UpdateManvas();
    });

    manvas.addEventListener("mouseup", function (e) {
        switch (e.button) {
            case 0:
                switch (preferences.shape) {
                    case 0:
                    case 1:
                    case 2:
                        drawing = false;
                        if (currentLabel.points.length == 1)
                            break;                            
                        let bboxArea = BBoxAreaCalculator(currentLabel.points);
                        if (bboxArea > 16)
                            labelList.push(currentLabel);
                        ClearCurrentLabel();
                        break;
                    case 3:
                        break;
                }
                break;
            case 1:
                break;
            case 2:
                pulling = false;
                break;
        }
    });

    manvas.addEventListener("mousemove", function (e) {
        mouse.x = e.offsetX;
        mouse.y = e.offsetY;
        switch (preferences.shape) {
            case 0:
                if (drawing) {
                    rect = new Rectangle(currentLabel.points[0].x, currentLabel.points[0].y, mouse.x, mouse.y, true);
                    currentLabel.points = rect.GetPoints();
                }
                else if (pulling) {
                    MoveLabel(e.movementX, e.movementY);
                }
                break;
            case 1:
                if (drawing) {
                    rect = new Rectangle(currentLabel.points[0].x, currentLabel.points[0].y, mouse.x, mouse.y, false);
                    currentLabel.points = rect.GetPoints();
                }
                else if (pulling) {
                    MoveLabel(e.movementX, e.movementY);
                }
                break;
            case 2:
                if (drawing) {
                    circle.Move(mouse.x, mouse.y);
                    currentLabel.points = circle.GetPoints();
                }
                else if (pulling) {
                    MoveLabel(e.movementX, e.movementY);
                }
                break;
            case 3:
                if (polygon.points.length > 0) {
                    polygon.MoveLast(mouse.x, mouse.y);
                }
                else if (pulling) {
                    MoveLabel(e.movementX, e.movementY);
                }
                break;
        }
        UpdateManvas();
    });

    function UpdateManvas() {
        
        ClearManvas();
        DrawLabels();
        DrawCurrentPolygon();
        DrawCurrentLabel();
        CrossHair();
    }

    function DrawCurrentPolygon() {
        let points = polygon.GetPoints();
        if (points.length == 0)
            return;

        mtx.beginPath();
        mtx.moveTo(points[0].x, points[0].y);
        for (var i = 1; i < points.length; i++) {
            mtx.lineTo(points[i].x, points[i].y);
        }
        mtx.globalAlpha = 1.0;
        mtx.strokeStyle = colorList[preferences.selectedAnno];
        mtx.lineWidth = 1;
        mtx.stroke();

        mtx.globalAlpha = 0.2;
        mtx.beginPath();
        mtx.arc(points[0].x, points[0].y, 10, 0, Math.PI * 2);
        mtx.closePath();
        mtx.fillStyle = colorList[preferences.selectedAnno];
        mtx.fill();

    }

    function DrawCurrentLabel() {
        if (!drawing)
            return;

        mtx.beginPath();

        let firstPoint = currentLabel.points[0];
        mtx.moveTo(firstPoint.x, firstPoint.y);

        for (var i = 1; i < currentLabel.points.length; i++) {
            let p = currentLabel.points[i];
            mtx.lineTo(p.x, p.y);
        }
        mtx.closePath();

        mtx.globalAlpha = 1.0;
        mtx.strokeStyle = colorList[preferences.selectedAnno];
        mtx.lineWidth = 5;
        mtx.stroke();

        mtx.globalAlpha = 0.1;
        mtx.fillStyle = colorList[preferences.selectedAnno];
        mtx.fill();
    }

    function DrawLabels() {
        if (labelList.length < 1)
            return;

        for (var j = 0; j < labelList.length; j++) {
            let label = labelList[j];
            
            mtx.beginPath();
            let firstPoint = label.points[0];
            mtx.moveTo(firstPoint.x, firstPoint.y);
            for (var i = 1; i < label.points.length; i++) {
                let p = label.points[i];
                mtx.lineTo(p.x, p.y);
            }
            mtx.closePath();

            mtx.globalAlpha = 1.0;
            mtx.strokeStyle = colorList[label.annoID];
            mtx.lineWidth = 2;
            if (selectedLabel == j) {                
                mtx.lineWidth = 5;
            }
            mtx.stroke();

            mtx.globalAlpha = 0.2;
            if (selectedLabel == j) {
                mtx.globalAlpha = 0.1;
            }
            mtx.fillStyle = colorList[label.annoID];
            mtx.fill();
        }
            
    }

    function FinishPolyAddToList() {

        let polyLabel = new Label();
        polyLabel.annoID = preferences.selectedAnno;
        polyLabel.photoID = navi.photoID;

        polygon.points.pop();
        polyLabel.points = polygon.GetPoints();
        labelList.push(polyLabel);
        polygon = new Polygon();
    }

    function InitCurrentLabel() {
        currentLabel = new Label();
        currentLabel.annoID = preferences.selectedAnno;
        currentLabel.photoID = navi.photoID;
        switch (preferences.shape) {
            case 0:
                rect = new Rectangle(mouse.x, mouse.y, mouse.x + 1, mouse.y + 1, true);
                currentLabel.points.push(rect.GetPoints());
                break;
            case 1:
                rect = new Rectangle(mouse.x, mouse.y, mouse.x + 1, mouse.y + 1, false);
                currentLabel.points.push(rect.GetPoints());
                break;
            case 2:
                circle = new Circle(mouse.x, mouse.y);
                currentLabel.points.push(circle.GetPoints());
                break;
            case 3:
                polygon = new Polygon(mouse.x, mouse.y);
                
                break;
            default:
        }
    }

    function ClearCurrentLabel() {
        currentLabel = new Label();
    }

    function ClearManvas() {
        mtx.beginPath();
        mtx.clearRect(0, 0, manvas.width, manvas.height);
    }

    function CrossHair() {
        if (!preferences.crossHair)
            return;
        if (mouseEntered == false)
            return;
        mtx.strokeStyle = "white";
        mtx.lineWidth = 2;
        mtx.globalAlpha = 0.4;

        // vertical line
        mtx.beginPath();
        mtx.moveTo(mouse.x, 0);
        mtx.lineTo(mouse.x, manvas.height);
        mtx.closePath();
        mtx.stroke();
        // horizontal line
        mtx.beginPath();
        mtx.moveTo(0, mouse.y);
        mtx.lineTo(manvas.width, mouse.y);
        mtx.stroke();
        mtx.closePath();
        mtx.globalAlpha = 1.0;
    }

    function ResizeLabelList(alpha) {
        for (var j = 0; j < labelList.length; j++) {
            let label = labelList[j];            
            for (var i = 0; i < label.points.length; i++) {
                labelList[j].points[i].x *= alpha;
                labelList[j].points[i].y *= alpha;
            }            
        }
    }

    function SelectLabel() {
        mouse.x;
        mouse.y;
        selectedLabel = -1;
        for (var j = 0; j < labelList.length; j++) {
            let label = labelList[j];
            if (Collision(label.points, mouse.x, mouse.y))
                selectedLabel = j;
        }
    }

    function MoveLabel(movementX, movementY) {
        for (var i = 0; i < labelList[selectedLabel].points.length; i++) {
            labelList[selectedLabel].points[i].x += movementX;
            labelList[selectedLabel].points[i].y += movementY;
        }
    }


    // Kaynak: https://www.jeffreythompson.org/collision-detection/poly-point.php
    function Collision(vertices, px, py) {
        var collision = false;

        var next = 0;
        for (var current = 0; current < vertices.length; current++) {

            next = current + 1;
            if (next == vertices.length) next = 0;

            var vc = vertices[current];
            var vn = vertices[next];

            if (((vc.y >= py && vn.y < py) || (vc.y < py && vn.y >= py)) &&
                (px < (vn.x - vc.x) * (py - vc.y) / (vn.y - vc.y) + vc.x)) {
                collision = !collision;
            }
        }
        return collision;
    }
    
    function BBoxAreaCalculator(points) {
        let boundingMin = new Point(Number.MAX_SAFE_INTEGER, Number.MAX_SAFE_INTEGER);
        let boundingMax = new Point(0, 0);
        for (var i = 0; i < points.length; i++) {
            let point = points[i];
            if (point.x < boundingMin.x)
                boundingMin.x = point.x;
            if (point.x > boundingMax.x)
                boundingMax.x = point.x;
            if (point.y < boundingMin.y)
                boundingMin.y = point.y;
            if (point.y > boundingMax.y)
                boundingMax.y = point.y;
        }
        return (boundingMax.x - boundingMin.x) * (boundingMax.y - boundingMin.y);
    }

    function ClearAllLabels() {
        labelList = [];
        UpdateManvas();
    }

    function Goster() {
        console.log("labelList.length: ", labelList.length);
        console.log("polygon.points.length: ", polygon.points.length);
    }

    // #endregion


    // AYRI METOD YAZMALIYIM. UpdateManvas içinde DrawCurrentPolygon() yöntemi çağırılacak.
    // bu yöntemde Path kapatılmadan çizim yapılacak.
    // Her noktada 8 piksellik dolu daire ile nokta ifade edilecek.
    // ilk noktada yine tıklanırsa ve en az 3 nokta var ise ve alan iyiyse labelList'e aktarılabilir.
    // drawing ve polydrawing ikisinden sadece biri açılabilir.

    /*
     zoom in zoom out yapınca kayıyor..
     serverSide içinde orjinal fotoğraf değerlerine çevirerek kaydedelim.
     getLabelList ile serverdan çekince preferences.sizeFactor'e bölerek çizdirelim.

     AYRICA TÜM JSON ALIŞVERİŞİNİ string İLE YAPALIM ve NEWTONSOFT KULLANALIM...
     */

</script>

