@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" id="filesCount" value="@ViewBag.filesCount" />
<input type="hidden" id="imageIndex" value="@ViewBag.imageIndex" />
<div style="position:absolute; top:-8000px" >
    <img id="image" src="~/dosyalar/Temp/temp1280.jpg" />
</div>

<table style="margin:1em">
    <tr>
        <td>
            <button class="btn secBtn" onclick="SecimYap(0)" style="background-color:darkslategrey">Toprak</button>
            <button class="btn secBtn" onclick="SecimYap(1)" style="background-color:darkgreen">Kültür</button>
            <button class="btn secBtn" onclick="SecimYap(2)" style="background-color:orangered">YabancıOt</button>
            <button class="btn secBtn" onclick="SecimYap(3)" style="background-color:blue">%50 Kültür+Yabancı</button>
            &nbsp;&nbsp;||&nbsp;&nbsp;
            <button class="btn secBtn" onclick="SecimYap(4)" style="background-color:black">Anlamsız</button>
        </td>
        <td style="width:30px">&nbsp;</td>
        <td style="padding:2px">
            <button class="btn btn-secondary" onclick="NavigateBackward()"><< Geri</button>
            <span>@(ViewBag.imageIndex+1) / @ViewBag.filesCount</span>
            <button class="btn btn-secondary" onclick="NavigateForward()">İleri >></button>
            &nbsp;&nbsp;||&nbsp;&nbsp;
            <button class="btn btn-outline-success" onclick="Completed()"> Tamamlandı </button>
            &nbsp;&nbsp;||&nbsp;&nbsp;
            <button class="btn btn-sm btn-outline-danger" onclick="ResmiSil()"> resmi sil </button>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top">
            <div style="margin: 2px">
                <span style="border: solid 1px gray; border-radius: 2px; padding: 3px">
                    <span style="margin: 4px; margin-right: 10px; cursor: pointer" onclick="FlyingCanvasChangeSize(false)">-</span>
                    <span style="margin: 4px; margin-left: 10px; cursor: pointer" onclick="FlyingCanvasChangeSize(true)">+</span>
                </span>
            </div>
            <canvas id="flyingCanvas"></canvas>
        </td>
        <td style="width:30px">&nbsp;</td>
        <td style="vertical-align:top">
            <div style="margin: 2px">
                <span style="border: solid 1px gray; border-radius: 2px; padding: 3px">
                    <span style="margin: 4px; margin-right: 10px; cursor: pointer" onclick="CanvasChangeSize(false)">-</span>
                    <span style="margin: 4px; margin-left: 10px; cursor: pointer" onclick="CanvasChangeSize(true)">+</span>
                </span>
            </div>
            <canvas id="canvas"></canvas>
        </td>
    </tr>
</table>

<script>
    var gridSize = 64;
    var lineWidth = 1;
    var canvasDesiredWidth = 1000;
    var flyingCanvasDesiredWidth = 600;
    cursor = { col: 15, row: 7 };

    // Get image Info
    var image = document.getElementById("image");
    var imageWidth = image.width; // should be 1280
    var imageHeight = image.height;
    var gridCountX = Math.floor(imageWidth / gridSize);
    var gridCountY = Math.floor(imageHeight / gridSize);

    // create canvas
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var percentage = imageWidth / imageHeight ;
    canvas.width = canvasDesiredWidth;
    canvas.height = canvas.width / percentage;
    var cGridSize = gridSize * (canvasDesiredWidth / imageWidth);

    $(document).ready(function () {
        UpdateAll();
    });

    var flyingCanvas = document.getElementById("flyingCanvas");
    var ctx2 = flyingCanvas.getContext("2d");
    flyingCanvas.width = flyingCanvasDesiredWidth;
    flyingCanvas.height = flyingCanvasDesiredWidth;


    function UpdateAll() {
        DrawImage();
        DrawGrid();
        DrawRedRect();
        DrawFlyingImage();
    }

    function CanvasChangeSize(increase) {
        if (increase)
            canvasDesiredWidth+= 50;
        else
            canvasDesiredWidth -= 50;
        canvasDesiredWidth = canvasDesiredWidth < 200 ? 200 : canvasDesiredWidth;
        canvas.width = canvasDesiredWidth;
        canvas.height = canvas.width / percentage;
        UpdateAll();
    }
    function FlyingCanvasChangeSize(increase) {
        if(increase)
            flyingCanvasDesiredWidth += 50;
        else
            flyingCanvasDesiredWidth -= 50;
        flyingCanvasDesiredWidth = flyingCanvasDesiredWidth < 200 ? 200 : flyingCanvasDesiredWidth;
        flyingCanvas.width = flyingCanvasDesiredWidth;
        flyingCanvas.height = flyingCanvasDesiredWidth;
        DrawFlyingImage();
    }
    function DrawImage() {
        ctx.drawImage(image, 0, 0, imageWidth, imageHeight, 0, 0, canvas.width, canvas.height);
    }
    function DrawGrid() {
        ctx.strokeStyle = "white";
        ctx.lineWidth = lineWidth;

        // fixing cGridSize value
        cGridSize = gridSize * (canvasDesiredWidth / imageWidth);

        // vertical lines
        for (var i = 0; i <= gridCountX; i++) {
            ctx.moveTo(i * cGridSize, 0);
            ctx.lineTo(i * cGridSize, gridCountY * cGridSize);
            ctx.stroke();
        }
        // horizontal lines
        for (var i = 0; i <= gridCountY; i++) {
            ctx.moveTo(0, i * cGridSize);
            ctx.lineTo(gridCountX * cGridSize, i * cGridSize);
            ctx.stroke();
        }
    }
    function DrawRedRect() {
        ctx.strokeStyle = "red";
        ctx.beginPath();
        ctx.rect(cursor.col * cGridSize, cursor.row * cGridSize, cGridSize, cGridSize);
        ctx.stroke();
    }
    function DrawFlyingImage() {
        ctx2.drawImage(image, cursor.col * gridSize, cursor.row * gridSize, gridSize, gridSize, 0, 0, flyingCanvas.width, flyingCanvas.height);
    }
        
    var Turler = ["Toprak", "Kültür", "YabancıOt", "%50 Kültür+Yabancı", "Anlamsız"];
    var secimler = [];
    var filesCount = Number($("#filesCount").val());
    var imageIndex = Number($("#imageIndex").val());

    function NavigateBackward() {
        imageIndex -= 1;
        if (imageIndex < 0) {
            imageIndex = 0;
            return;
        }
        window.location = "/Home/Index?imageIndex=" + imageIndex;
    }
    function NavigateForward() {
        imageIndex += 1;
        if (imageIndex > filesCount - 1) {
            imageIndex = filesCount - 1;
            return;
        }
        window.location = "/Home/Index?imageIndex=" + imageIndex;
    }
    


    
</script>