<style>
    .navigationPanel {
        padding: 5px;
        border-bottom: dotted 1px gray;
        width: 100%;
    }

    .btnNavi {
        border-radius: 3px 4px;
    }

    .naviScreen {
        cursor: pointer;
    }

    .naviScreenContainer {
        display: inline-block;
        width: 80px;
        text-align: center;
    }

    .naviInput {
        position: absolute;
        width: 80px;
        border-radius: 5px;
        z-index: 3;
    }

    .spnShape {
        border: solid white 1px;
        padding: 5px;
        cursor: pointer;
    }

        .spnShape:hover {
            border: solid black 1px;
        }

    .spnShapeSelected {
        border: solid black 1px;
    }

    .sizeBtn {
        border: none;
        padding-right: 8px;
        padding-left: 8px;
        cursor: pointer;
    }

    .sizeBtnBorder {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .mainDiv {
        position: absolute;
        top: 84px;
        bottom: 0;
        border-right: solid gray 1px;
        background-color: yellow;
    }

    .annoListDiv {
        position: absolute;
        width: 120px;
        top: 0;
        
        border-right: solid gray 1px;
        text-align: center;
    }

    .annoBtn {
        width: 80%;
        border: solid 1px;
        border-radius: 5px;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }

    .canvasDiv {
        position: absolute;
        top: 0px;
        left: 120px;
        min-height:200vh;
    }
    #canvas {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    #manvas {
        position: absolute;
        top: 5px;
        left: 5px;
    }
</style>

<input type="hidden" id="projectID" value="@ViewBag.projectID" />
<div class="navigationPanel" id="navigationPanel">
    <select class="form-select-sm" id="project" onchange="ChangeProject()">
        <option style="color:gray; font-style:italic">Proje Seçiniz...</option>
    </select>
    <span class="naviScreenContainer" id="naviScreenContainer">
        <span id="naviScreen" class="naviScreen" onclick="ShowNaviInput()">
            0/0
        </span>
    </span>
    <button class="btnNavi" onclick="ClickNavigate(false)">< önceki</button>
    <button class="btnNavi" onclick="ClickNavigate(true)">sonraki ></button>
    <select id="seen" class="form-control-sm" onchange="ChangeSeen()">
        <option value="1">İşlenmemişler</option>
        <option value="2">İşlenmişler</option>
        <option value="3">Tamamı</option>
    </select>
    <button class="btn btn-sm btn-outline-danger" onclick="DeletePhoto()"> Resmi Sil </button>
    <button class="btn btn-outline-success" id="completedBtn" onclick="Completed()">Değişiklikleri Kaydet</button>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <span class="spnShape" onclick="ClickShape(this)" data-shape="0"><img src="~/sysimg/square.png" height="24" /></span>
    <span class="spnShape" onclick="ClickShape(this)" data-shape="1"><img src="~/sysimg/rect.png" height="24" /></span>
    <span class="spnShape" onclick="ClickShape(this)" data-shape="2"><img src="~/sysimg/circle.png" height="24" /></span>
    <span class="spnShape" onclick="ClickShape(this)" data-shape="3"><img src="~/sysimg/poligon.png" height="24" /></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="sizeBtnBorder">
        <button class="sizeBtn" onclick="ChangeCSize(false)">-</button>
        <span id="csize" style="background-color:rgb(220,220,220)"></span>
        <button class="sizeBtn" onclick="ChangeCSize(true)">+</button>
    </span>
    <label>
        CrossHair
        <input type="checkbox" id="crossHair" onclick="ClickCrossHair()" />
    </label>
    <label>
        Çember Nokta Sayısı:
        <input type="number" min="8" max="64" id="circlePoints"/>
    </label>
    
</div>

<div class="mainDiv">
    <div class="annoListDiv">
        <u>Sınıflar</u>
        <div id="annoListDiv"></div>
    </div>
    <div class="canvasDiv">
        <div id="error" class="text-bg-danger"></div>
        <canvas id="canvas"></canvas>
        <canvas id="manvas"></canvas>
    </div>
</div>


<script>

    // #region Classes
    class Preferences {
        seen = 3;
        shape = 0;
        csize = 1000;
        crossHair = true;
        selectedAnno = -1;
    }
    class NavigateViewModel {
        projectID;
        photoID;
        photoNo;
        seen;
        filesCount;
        path;
        labels;
        error;
    }
    class Label {
        photoID;
        annoID;
        points = [];
    }
    class Point {
        constructor(x, y) {
            this.x = x;
            this.y = y;
        }
    }
    class Rectangle {
        #width;
        #height;
        constructor(beginX, beginY, endX, endY, isSquare) {
            let ifX = beginX < endX;
            let ifY = beginY < endY;
            this.beginX = ifX ? beginX : endX;
            this.endX = ifX ? endX : beginX;
            this.beginY = ifY ? beginY : endY;
            this.endY = ifY ? endY : beginY;
            this.#width = this.endX - this.beginX;
            this.#height = this.endY - this.beginY;
            this.isSquare = isSquare;

            if (isSquare) {
                if (this.#width > this.#height) {
                    this.endX = beginX + this.#height;
                    this.#width = this.endX - this.beginX;
                }
                else {
                    this.endY = beginY + this.#width;
                    this.#height = this.endY - this.beginY;
                }
            }
        }
        getWidth = () => this.#width;
        getHeight = () => this.#height;

    }
    Rectangle.prototype.GetPoints = function () {
        let plist = [];
        plist.push(new Point(this.beginX, this.beginY));
        plist.push(new Point(this.endX, this.beginY));
        plist.push(new Point(this.endX, this.endY));
        plist.push(new Point(this.beginX, this.endY));
        return plist;
    }

    class Circle{
        constructor(centerX, centerY) {
            this.centerX = centerX;
            this.centerY = centerY;
            this.moveX = centerX;
            this.moveY = centerY;
            this.radius = Math.sqrt((this.moveX - this.centerX) ** 2 + (this.moveY - this.centerY) ** 2);
            if (this.radius <= 0) this.radius = 1;            
        }
    }
    Circle.prototype.Move = function (mouseX, mouseY) {
        this.moveX = mouseX;
        this.moveY = mouseY;
        this.radius = Math.sqrt((this.moveX - this.centerX) ** 2 + (this.moveY - this.centerY) ** 2);
    }
    Circle.prototype.GetPoints = function () {
        let circlePoints = Number( $("#circlePoints").val());
        circlePoints = circlePoints.clamp(8, 64);
        let plist = [];
        let radyan = (Math.PI * 2) / circlePoints;
        for (var i = 0; i < circlePoints; i++) {
            plist.push(new Point(this.centerX + this.radius * Math.sin(i * radyan), this.centerY + this.radius * Math.cos(i * radyan)));
        }
        return plist;
    }

    class Polygon {
        constructor(beginX, beginY) {
            this.beginX = beginX;
            this.beginY = beginY;
            this.points = [];
            this.points.push(new Point(this.beginX, this.beginY));
        }
    }
    Polygon.prototype.AddPoint = function (nextX, nextY) {
        this.points.push(new Point(nextX, nextY));
    }

    var preferences = new Preferences();
    var navi = new NavigateViewModel();
    var labelList = [];
    var currentLabel = null;
    const mouse = new Point();
    var rect = new Rectangle();
    var circle = new Circle();
    var polygon = new Polygon();
    // #endregion

    var projectList = [];
    var annoList = [];
    var colorList = [];

    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");
    const manvas = document.getElementById("manvas");
    const mtx = manvas.getContext("2d");
    var image = new Image();
    var selectedLabel = -1;

    $(document).ready(function () {
        InitPreferences();
        UpdatePreferences();
        InitNavigation();
        StartAjaxChain();
    });
    
    // #region Init&Update Preferences
    function InitPreferences() {
        let p = OzGetCookie("preferences");
        if (p == "") SavePreferences();
        else preferences = JSON.parse(p);
        preferences.selectedAnno = -1;
    }

    function SavePreferences() {
        OzSetCookie("preferences", JSON.stringify(preferences));
    }

    function UpdatePreferences() {
        UpdateSeen();
        UpdateShape();
        UpdateCSize();
        UpdateCrossHair();
    }

    function UpdateSeen() {
        let seen = Number(preferences.seen);
        $("#seen").val(seen);
    }

    function UpdateShape() {
        let shape = preferences.shape;
        $(".spnShape").removeClass("spnShapeSelected");
        $("*[data-shape=" + shape + "]").addClass("spnShapeSelected");
    }

    function UpdateCSize() {
        let csize = preferences.csize;
        $("#csize").html(csize + "px");
    }
    function UpdateCrossHair() {
        let crossHair = preferences.crossHair;
        $("#crossHair").prop("checked", crossHair);
    }
    // #endregion

    // #region onClick & onChange
    function ChangeProject() {
        let project = Number($("#project").val());
        navi.projectID = project;
        if (navi.projectID != 0)
            $("#error").html("");
        StartAjaxChain();
    }

    function ClickNavigate(increase) {
        if (increase) {
            if (navi.photoNo < navi.filesCount) {
                navi.photoNo++;
                GetImage();
            }
        }
        else {
            if (navi.photoNo > 1) {
                navi.photoNo--;
                GetImage();
            }
        }
    }

    function ChangeSeen() {
        let seen = Number($("#seen").val());
        preferences.seen = seen;
        SavePreferences();
        navi.seen = seen;
        navi.photoNo = 1;
        GetImage();
    }

    function DeletePhoto() {
        var questionDiv = $("<h3>").html("Veritabanından kaldırın veya tamamen silin. Şu resim:\n" + navi.path);
        var answer1Btn = $("<button>")
            .addClass("btn btn-warning")
            .html("Kaldır")
            .click(function () {
                DeletePhotoConfirmed(false);
            });
        var answer2Btn = $("<button>")
            .addClass("btn btn-danger")
            .html("Tamamen SİL!")
            .click(function () {
            DeletePhotoConfirmed(true);
        });
        var answer3Btn = $("<button>").addClass("btn btn-secondary").html("İptal").click(this.Close);
        var buttonsPanel = $("<div>");
        var confirmerBody = $("<div>");

        confirmerBody.append(questionDiv);
        buttonsPanel.append(answer1Btn);
        buttonsPanel.append(answer2Btn);
        buttonsPanel.append(answer3Btn);
        confirmerBody.append(buttonsPanel);
        OzModal.Show("Sorulur", confirmerBody);
    }

    function DeletePhotoConfirmed(hardRemove=false) {
        
        new OzAjax("/Uploader/RemovePhotoFromDB", GET, { id: navi.photoID, hardRemove: hardRemove }, DeleteSuccess).Send();
        function DeleteSuccess(data) {
            OzModal.Info("", data, 2000);
            GetImage();
        }
    }

    function Completed() {
        AddLabelsToNavi();
        new OzAjax("/Home/SetImage", POST, { _navi: JSON.stringify(navi) }, CompletedSuccess).Send();
        function CompletedSuccess(data) {
            data = JSON.parse(data);
            if (data == "ok") {
                let oldHtml = $("#completedBtn").html();
                $("#completedBtn").html("Kaydedildi.")
                setTimeout(function () { $("#completedBtn").html(oldHtml) }, 1000);
            }
            else {
                HataYaz(data);
            }
        }
    }

    function ClickShape(dom) {
        let shape = Number($(dom).data("shape"));
        preferences.shape = shape;
        SavePreferences();
        UpdateShape();
    }

    function ChangeCSize(increase) {
        let oldSizeFactor = image.width / preferences.csize;

        if (increase) {
            preferences.csize += 50;
        }
        else {
            preferences.csize -= 50;
            if (preferences.csize <= 0)
                preferences.csize = 50;
        }

        SavePreferences();
        UpdateCSize();
        UpdateCanvas();

        let sizeFactor = image.width / preferences.csize;
        let alpha = oldSizeFactor / sizeFactor;

        ResizeLabelList(alpha);
        UpdateManvas();
    }

    function ClickCrossHair() {
        preferences.crossHair = $("#crossHair").prop("checked");
        SavePreferences();
    }

    function AddLabelsToNavi() {
        let labels = [];
        let sizeFactor = image.width / preferences.csize;
        for (var j = 0; j < labelList.length; j++) {
            let label = new Label();
            label.annoID = labelList[j].annoID;
            label.photoID = navi.photoID;

            for (var i = 0; i < labelList[j].points.length; i++) {
                let p = labelList[j].points[i];
                let new_p = new Point();
                new_p.x = p.x * sizeFactor;
                new_p.y = p.y * sizeFactor;
                label.points.push(new_p);
            }
            labels.push(label);
        }
        navi.labels = JSON.stringify(labels);
    }
    // #endregion

    // #region Navigation
    function InitNavigation() {
        navi.projectID = Number($("#projectID").val());
        if (navi.projectID == 0) {
            $("#error").html("Bir proje seçiniz.");
        }
        navi.seen = preferences.seen;
    }
    function ShowNaviInput() {
        if (navi.filesCount < 1)
            return;
        let p = $("#naviScreenContainer").position();
        let input = $("<input>");
        input.addClass("naviInput");
        input.attr("id", "naviInput");
        $("body").append(input);
        input.css({ "position": "absolute", "top": p.top + "px", "left": p.left + "px" });
        input.focus();
        input.keyup(function (e) {
            if (e.keyCode == 13) {
                NaviGoTo(Number($(this).val()));
            }
        });
    }
    function NaviGoTo(value) {
        navi.photoNo = value;
        navi.photoNo = Number(navi.photoNo).clamp(1, navi.filesCount);
        GetImage();
        $("#naviInput").remove();
    }
    // #endregion

    // #region Ajax Chain
    function StartAjaxChain() {
        GetProjectList(); // =>
    }

    function GetProjectList() {
        new OzAjax("/Home/GetProjectList", GET, { projectID: navi.projectID }, ProjectListSuccess).Send();
        function ProjectListSuccess(data) {
            projectList = JSON.parse(data);
            UpdateProjects(); //=>
        }
    }
    function UpdateProjects() {

        let project = $("#project");
        let firstChild = $("#project").children().first();
        project.html(firstChild);

        for (var i = 0; i < projectList.length; i++) {
            let option = new Option(projectList[i].name, projectList[i].id);

            let optionIsSelected = navi.projectID == projectList[i].id;
            option.selected = optionIsSelected;

            if (optionIsSelected) {
                annoList = projectList[i].annoList;
                PlaceAnnoList(); // =>
                GetImage(); // =>
            }

            project.append(option);
        }
    }
    function PlaceAnnoList() {
        let annoListDiv = $("#annoListDiv");
        annoListDiv.html("");
        for (var i = 0; i < annoList.length; i++) {
            let btn = $("<button>");
            btn.html(annoList[i].name);
            btn.addClass("annoBtn");
            btn.data("annoid", i);
            btn.data("color", annoList[i].color);
            btn.data("textcolor", annoList[i].textColor);
            colorList.push(annoList[i].color);
            btn.click(SelectAnno);

            annoListDiv.append(btn);
        }
        PaintAnnoBtns(); // =>
    }

    function SelectAnno() {
        preferences.selectedAnno = Number($(this).data("annoid"));
        SavePreferences();
        PaintAnnoBtns();
    }

    function PaintAnnoBtns() {
        $(".annoBtn").each(function (i, e) {
            if (i == preferences.selectedAnno) {
                let color = $(e).data("color");
                let textColor = $(e).data("textcolor");
                $(e).css({
                    "color": textColor,
                    "background-color": color,
                });
            }
            else {
                let color = $(e).data("color");
                $(e).css({
                    "color": color,
                    "background-color": "white"
                });
            }
        });
    }

    function GetImage() {                
        new OzAjax("/Home/GetImage", POST, { _navi: JSON.stringify(navi) }, Success).Send();
        function Success(data) {
            navi = JSON.parse(JSON.parse(data));
            if (navi.error != "") {
                HataYaz(navi.error);
            }
            else {
                $("#error").html("");
            }
            UpdateNaviScreen();
            DrawCanvas(); // =>
        }
    }

    function UpdateNaviScreen() {
        let photoNo = navi.photoNo;
        let filesCount = navi.filesCount;
        $("#naviScreen").html(photoNo + "/" + filesCount);
    }
    function DrawCanvas() {
        if (navi.path == "")
            return;
        image.src = navi.path;
        image.addEventListener("load", OnCanvasLoaded);
        image.addEventListener("error", HataYaz);
    }
    function OnCanvasLoaded() {
        UpdateCanvas();
        selectedLabel = -1;
        ClearCurrentLabel();
        FillLabelList();
    }

    function UpdateCanvas() {
        if (image.width > 0) {
            let oran = image.width / image.height;
            canvas.width = preferences.csize;
            canvas.height = canvas.width / oran;
            ctx.drawImage(image, 0, 0, image.width, image.height, 0, 0, canvas.width, canvas.height);

            manvas.width = canvas.width;
            manvas.height = canvas.height;
        }
    }

    function FillLabelList() {
        let naviLabels = JSON.parse(navi.labels);
        labelList = [];
        for (var i = 0; i < naviLabels.length; i++) {
            let label = new Label();
            label.photoID = naviLabels[i].photoID;
            label.annoID = naviLabels[i].annoID;
            label.points = naviLabels[i].points;
            labelList.push(label);
        }
        let sizeFactor = image.width / preferences.csize;
        ResizeLabelList(1 / sizeFactor);
        
        UpdateManvas();
    }

    function HataYaz(hata) {
        canvas.width = preferences.csize;
        canvas.height = preferences.csize;
        ctx.clearRect(0, 0, preferences.csize, preferences.csize);
        $("#error").html(hata ?? "Bir hata oluştu!");
    }
    // #endregion

    // #region MANVAS
    var mouseEntered = false;
    var drawing = false;
    var pulling = false;
    
    //// TRIGERS ////
    manvas.addEventListener("contextmenu", function (e) {
        e.preventDefault();
    });

    document.addEventListener("keyup", function (e) {
        switch (e.keyCode) {
            case 46:
                if (selectedLabel != -1) {
                    labelList.splice(selectedLabel, 1);
                    selectedLabel = -1;
                    UpdateManvas();
                }
                break;

        }
    });


    manvas.addEventListener("mouseenter", function (e) {
        mouseEntered = true;
    });

    manvas.addEventListener("mouseleave", function (e) {
        mouseEntered = false;
        UpdateManvas();
    });

    var polydrawing = false;
    manvas.addEventListener("mousedown", function (e) {
        switch (e.button) {
            case 0:
                if (preferences.selectedAnno == -1) {
                    alert("Sınıf seçiniz!");
                    return;
                }
                if (preferences.shape == 3) {
                    if (!polydrawing) {
                        polydrawing = true;
                        drawing = false;
                        polygon = new Polygon(e.offsetX, e.offsetY);

                        // AYRI METOD YAZMALIYIM. UpdateManvas içinde DrawCurrentPolygon() yöntemi çağırılacak.
                        // bu yöntemde Path kapatılmadan çizim yapılacak.
                        // Her noktada 8 piksellik dolu daire ile nokta ifade edilecek.
                        // ilk noktada yine tıklanırsa ve en az 3 nokta var ise ve alan iyiyse labelList'e aktarılabilir.
                        // drawing ve polydrawing ikisinden sadece biri açılabilir.
                    }
                    else {

                    }
                    return;
                }
                else {
                    InitCurrentLabel();
                    drawing = true;
                    polydrawing = false;
                }
                break;
            case 1:
                break;
            case 2:
                if (polydrawing) {
                    polydrawing = false;
                    return;
                }

                SelectLabel();
                UpdateManvas();                
                if (selectedLabel != -1)
                    pulling = true;
                break;
        }
    });

    manvas.addEventListener("mouseup", function (e) {
        switch (e.button) {
            case 0:                
                drawing = false;
                let bboxArea = BBoxAreaCalculator(currentLabel.points);
                if (bboxArea>16)
                    labelList.push(currentLabel);
                ClearCurrentLabel();
                break;
            case 1:
                break;
            case 2:
                pulling = false;
                break;
        }
    });

    manvas.addEventListener("mousemove", function (e) {
        mouse.x = e.offsetX;
        mouse.y = e.offsetY;

        if (drawing) {
            let firstPoint = currentLabel.points[0];
            console.log(firstPoint);
            switch (preferences.shape) {
                case 0:
                    rect = new Rectangle(firstPoint.x, firstPoint.y, mouse.x, mouse.y, true);
                    currentLabel.points = rect.GetPoints();
                    break;
                case 1:
                    rect = new Rectangle(firstPoint.x, firstPoint.y, mouse.x, mouse.y, false);
                    currentLabel.points = rect.GetPoints();
                    break;
                case 2:
                    circle.Move(mouse.x, mouse.y);
                    currentLabel.points = circle.GetPoints();
                    break;
                case 3:
                    break;
            }
        }
        else if (pulling) {
            MoveLabel(e.movementX, e.movementY);
        }

        UpdateManvas();
    });

    function UpdateManvas() {
        
        ClearManvas();
        DrawLabels();
        DrawCurrentPolygon();
        DrawCurrentLabel();
        CrossHair();
    }

    function DrawCurrentLabel() {
        if (!drawing)
            return;
        
        mtx.beginPath();

        let firstPoint = currentLabel.points[0];
        mtx.moveTo(firstPoint.x, firstPoint.y);

        for (var i = 1; i < currentLabel.points.length; i++) {
            let p = currentLabel.points[i];
            mtx.lineTo(p.x, p.y);
        }
        mtx.closePath();

        mtx.globalAlpha = 0.1;
        mtx.fillStyle = colorList[preferences.selectedAnno];
        mtx.fill();
        mtx.globalAlpha = 1.0;
        mtx.strokeStyle = colorList[preferences.selectedAnno];
        mtx.lineWidth = 5;
        mtx.stroke();
    }

    function DrawLabels() {
        if (labelList.length < 1)
            return;

        for (var j = 0; j < labelList.length; j++) {
            let label = labelList[j];
            
            mtx.beginPath();
            let firstPoint = label.points[0];
            mtx.moveTo(firstPoint.x, firstPoint.y);
            for (var i = 1; i < label.points.length; i++) {
                let p = label.points[i];
                mtx.lineTo(p.x, p.y);
            }
            mtx.closePath();
            mtx.globalAlpha = 0.2;
            if (selectedLabel == j) {
                mtx.globalAlpha = 0.1;
            }
            mtx.fillStyle = colorList[label.annoID];
            mtx.fill();
            mtx.globalAlpha = 1.0;
            mtx.strokeStyle = colorList[label.annoID];
            mtx.lineWidth = 2;
            if (selectedLabel == j) {                
                mtx.lineWidth = 5;
            }
            mtx.stroke();
        }
            
    }

    function InitCurrentLabel() {
        currentLabel = new Label();
        currentLabel.annoID = preferences.selectedAnno;
        currentLabel.photoID = navi.photoID;
        switch (preferences.shape) {
            case 0:
                rect = new Rectangle(mouse.x, mouse.y, mouse.x + 1, mouse.y + 1, true);
                currentLabel.points.push(rect.GetPoints());
                break;
            case 1:
                rect = new Rectangle(mouse.x, mouse.y, mouse.x + 1, mouse.y + 1, false);
                currentLabel.points.push(rect.GetPoints());
                break;
            case 2:
                circle = new Circle(mouse.x, mouse.y);
                currentLabel.points.push(circle.GetPoints());
                break;
            case 3:
                polygon = new Polygon(mouse.x, mouse.y);
                
                break;
            default:
        }
    }

    function ClearCurrentLabel() {
        currentLabel = null;
    }

    function ClearManvas() {
        mtx.beginPath();
        mtx.clearRect(0, 0, manvas.width, manvas.height);
    }

    function CrossHair() {
        if (!preferences.crossHair)
            return;
        if (mouseEntered == false)
            return;
        mtx.strokeStyle = "white";
        mtx.lineWidth = 2;
        mtx.globalAlpha = 0.4;

        // vertical line
        mtx.beginPath();
        mtx.moveTo(mouse.x, 0);
        mtx.lineTo(mouse.x, manvas.height);
        mtx.closePath();
        mtx.stroke();
        // horizontal line
        mtx.beginPath();
        mtx.moveTo(0, mouse.y);
        mtx.lineTo(manvas.width, mouse.y);
        mtx.stroke();
        mtx.closePath();
        mtx.globalAlpha = 1.0;
    }

    function ResizeLabelList(alpha) {
        for (var j = 0; j < labelList.length; j++) {
            let label = labelList[j];            
            for (var i = 0; i < label.points.length; i++) {
                labelList[j].points[i].x *= alpha;
                labelList[j].points[i].y *= alpha;
            }            
        }
    }

    function SelectLabel() {
        mouse.x;
        mouse.y;
        selectedLabel = -1;
        for (var j = 0; j < labelList.length; j++) {
            let label = labelList[j];
            if (Collision(label.points, mouse.x, mouse.y))
                selectedLabel = j;
        }
    }

    function MoveLabel(movementX, movementY) {
        for (var i = 0; i < labelList[selectedLabel].points.length; i++) {
            labelList[selectedLabel].points[i].x += movementX;
            labelList[selectedLabel].points[i].y += movementY;
        }
    }


    // Kaynak: https://www.jeffreythompson.org/collision-detection/poly-point.php
    function Collision(vertices, px, py) {
        var collision = false;

        var next = 0;
        for (var current = 0; current < vertices.length; current++) {

            next = current + 1;
            if (next == vertices.length) next = 0;

            var vc = vertices[current];
            var vn = vertices[next];

            if (((vc.y >= py && vn.y < py) || (vc.y < py && vn.y >= py)) &&
                (px < (vn.x - vc.x) * (py - vc.y) / (vn.y - vc.y) + vc.x)) {
                collision = !collision;
            }
        }
        return collision;
    }
    
    function BBoxAreaCalculator(points) {
        let boundingMin = new Point(Number.MAX_SAFE_INTEGER, Number.MAX_SAFE_INTEGER);
        let boundingMax = new Point(0, 0);
        for (var i = 0; i < points.length; i++) {
            let point = points[i];
            if (point.x < boundingMin.x)
                boundingMin.x = point.x;
            if (point.x > boundingMax.x)
                boundingMax.x = point.x;
            if (point.y < boundingMin.y)
                boundingMin.y = point.y;
            if (point.y > boundingMax.y)
                boundingMax.y = point.y;
        }
        return (boundingMax.x - boundingMin.x) * (boundingMax.y - boundingMin.y);
    }
    // #endregion


    /*
     zoom in zoom out yapınca kayıyor..
     serverSide içinde orjinal fotoğraf değerlerine çevirerek kaydedelim.
     getLabelList ile serverdan çekince preferences.sizeFactor'e bölerek çizdirelim.

     AYRICA TÜM JSON ALIŞVERİŞİNİ string İLE YAPALIM ve NEWTONSOFT KULLANALIM...
     */

</script>

