@model WebApplication1.Models.Project



<label for="name">Proje Adı</label>
<input class="form-control" id="name" name="name" />

<hr />
Etiketler:
<br />
<div id="annotationList">
    <li style="color:gray">Lütfen etiket ekleyiniz...</li>
</div>
<div style="vertical-align:middle; border:solid 1px gray; border-radius:1em; padding:1em;">
    <label for="annoName">Etiket Ekle</label>
    <input id="annoName" />
    
    <input type="color" id="color" style="vertical-align:middle" />
    
    <button class="btn btn-sm btn-secondary" onclick="AddAnnoation()" >Ekle</button>
</div>
<hr />
<button class="btn btn-success">Kaydet</button>

<script>

    var annoList = [];
    function AddAnnoation() {
        var anno = {};
        anno.name = $("#annoName").val();
        anno.color = $("#color").val();
        if (isDarkBackground(anno.color))
            anno.textColor = "#EEEEEE";
        else
            anno.textColor = "#000000";
        annoList.push(anno);
        UpdateAnnoations();
        $("#annoName").val("");
        $("#color").val("");
    }
    function UpdateAnnoations() {
        $("#annotationList").empty();

        for (var i = 0; i < annoList.length; i++) {
            var li = $("<div>");
            li.css({ "background-color": annoList[i].color, "color":annoList[i].textColor, "margin":"1em" });
            
            li.append($("<span>").html(annoList[i].name));
            li.append($("<button>").html("X").css({"float":"right"}).click(function () { deleteMe(i) }));
            $("#annotationList").append(li);
        }
        function deleteMe(n) {
            console.log("siliyorum bunu: ", n);
            annoList.splice(n, 1);
            UpdateAnnoations();
        }
    }

</script>
        

