@model WebApplication1.Models.Project


<input type="hidden" id="ID" value="@Model.ID" />

<label for="name">Proje Adı</label>
<input class="form-control" id="name" name="name" value="@Model.name" />

<hr />
Etiketler:
<br />
<div id="annotationList">
    <li style="color:gray">Lütfen etiket ekleyiniz...</li>
</div>
<div style="vertical-align:middle; border:solid 1px gray; border-radius:1em; padding:1em;">
    <label for="annoName">Etiket Ekle</label>
    <input id="annoName" />

    <input type="color" id="color" style="vertical-align:middle" />

    <button class="btn btn-sm btn-secondary" onclick="AddAnnoation()">Ekle</button>
</div>
<hr />
<button class="btn btn-success" onclick="SaveProject()">Kaydet</button>

<input type="hidden" id="annoList" value="@ViewBag.annoList" />

<script>

    var annoList = [];
    

    $(document).ready(function () {
        GetAnnoList();        
    });

    function GetAnnoList() {
        new OzAjax("/Projects/GetAnnoList", GET, { id: $("#ID").val() }, GetListSuccess).Send();
        function GetListSuccess(data) {
            annoList = JSON.parse(data);
            UpdateAnnoations();
        }
    }

    function AddAnnoation() {
        var anno = {};
        anno.name = $("#annoName").val();
        anno.color = $("#color").val();
        if (isDarkBackground(anno.color))
            anno.textColor = "#EEEEEE";
        else
            anno.textColor = "#000000";
        annoList.push(anno);
        UpdateAnnoations();
        $("#annoName").val("");
        $("#color").val("");
    }

    function UpdateAnnoations() {
        $("#annotationList").empty();

        for (var i = 0; i < annoList.length; i++) {
            var oDiv = $("<div>");
            oDiv.css({ "background-color": annoList[i].color, "color":annoList[i].textColor, "margin":"1em", "min-height":"2em"});

            oDiv.append($("<span>").html(annoList[i].name));
            let j = Number(i);
            oDiv.append($("<button>").html("X").css({"float":"right", "border-radius":"5px"}).click(function () { deleteMe(j) }));
            $("#annotationList").append(oDiv);
        }
        function deleteMe(n) {
            console.log("siliyorum bunu: ", n);
            annoList.splice(n, 1);
            UpdateAnnoations();
        }
    }

    function SaveProject() {
        let ID = $("#ID").val();
        let name = $("#name").val();
        if (name.length < 3) {
            alert("En az 3 harfli proje adı giriniz!");
            return;
        }
        if (annoList.length < 1) {
            alert("Etiket listesi boş olamaz!");
            return;
        }
        let project = { ID: ID, name: name, annoList: annoList };
        new OzAjax("/Projects/Edit", POST, { project: project }, SaveProjectSuccess).Send();
        function SaveProjectSuccess(data) {
            OzModal.Info("", data, 1200);
            setTimeout(function () { window.location.reload(true) }, 1200);
        }
    }

</script>
