@model IEnumerable<WebApplication1.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button onclick="GetCreateProjectForm()">Create New</button>
</p>
@foreach (var item in Model) {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var anno in item.Annotation)
        {
            <tr>
                <td>
                    @anno.name
                </td>
                <td>
                    <span style="width:5em; color:@anno.color">&nbsp;</span>
                </td>
            </tr>
        }
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<br />
}


<script>
    function GetCreateProjectForm() {
        new OzAjax("/Projects/Create", GET, null, ShowForm).Send();
        function ShowForm(data) {
            OzModal.Show("Proje Yarat",data);
        }
    }
</script>