@model IEnumerable<WebApplication1.Models.Project>

<div class="container">
    <h2>Projeler</h2>
    <p>
        <button onclick="GetCreateProjectForm()">Yeni Proje</button>
    </p>
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div style="border: solid gray 2px; margin:1em; border-radius:1em; padding:1em">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Project Name: @Html.DisplayFor(modelItem => item.name)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="min-width:5em;">
                                Annoations:
                                @foreach (var anno in item.annoList)
                                {
                                    <button style="border-radius:3px; color:@anno.textColor; background-color:@anno.color">@anno.name</button>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn-group-sm">
                                    <button class="btn btn-sm btn-outline-warning">Edit</button>
                                    <button class="btn btn-sm btn-outline-danger" onclick="DeleteMe(@item.ID)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        <i>Henüz proje yok. Yeni bir proje yaratınız.</i>
    }
</div>    

<script>
    function GetCreateProjectForm() {
        new OzAjax("/Projects/Create", GET, null, ShowForm).Send();
        function ShowForm(data) {
            OzModal.Show("Proje Yarat", data);
        }
    }

    var IDwillDeleted = 0;
    function DeleteMe(id) {
        IDwillDeleted = id;
        OzModal.Confirmer("Bu proje silinecek! Onaylıyor musunuz?", "Sil", "İptal", "btn-danger", "btn-secondary", DeleteMeConfirmed);
    }
    function DeleteMeConfirmed() {
        new OzAjax("/Projects/Delete", POST, { id: IDwillDeleted }, DeleteSuccess).Send();
        function DeleteSuccess(data) {
            OzModal.Info("", data, 1200);
            setTimeout(function () { window.location.reload(true) }, 1200);
        }
    }

</script>